
.mat-card{
  margin-bottom: 1%;
}

.mat-card-image{
  height: 80px;
  width: 80px;
  margin: auto auto 5px;
}
.addBtn{
  margin: 26px;
}

#card-cart-img{
  height: 40px;
  width: 40px;

}

.mat-card-content p{

  margin: auto  ;
}
