<div class="container"
     fxLayoutAlign="center end"
     fxLayout ="row"
     fxLayoutGap.xs="column"

>
<mat-card>
  <mat-card-title>
    <h2>Who we are</h2>
  </mat-card-title>
  <mat-card-content>
    
    <p>
    is the world’s largest dedicated online supermarket. It has a quarter-of-a-million active customers, and a 15%
      share of the UK online grocery market.</p>
    <p>We've hired top food experts, built the perfect environment for the food and found the shortest distance from
      farms, dairies and fisheries to your table. We have all the irresistibly fresh foods you could want, plus popular
      grocery brands, all for less than you might be paying now. And we bring it right to your door.</p>
  </mat-card-content>
</mat-card>
</div>
